.container.clearfix {
    margin-bottom: 1em;
}

h1.title {
    text-align: center;
}

[role="button"].focus {
    border-color: pink;
}

.result {
    clear: both;
}

.result .amount {
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.5em;
}

@media screen and (max-width: 399px) {
    .collapsible {
        display: none;
    }
}
