h1.title.abbrev {
    display: none;
}

h1.title {
    text-align: center;
}

[role="button"].focus {
    border-color: pink;
}

.result {
    clear: both;
}

.result .amount {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 399px) {
    h1.title {
        display: none;
    }
    h1.title.abbrev {
        display: block;
    }
}
